@model Tuple<List<Achievement>, List<Member>>
@{
    ViewData["Title"] = "Achievement";
}

<!-- ***** Breadcrumb Area Start ***** -->
<section class="section breadcrumb-area overlay-dark d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Breamcrumb Content -->

            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcrumb Area End ***** -->
<!-- ***** Portfolio Area Start ***** -->
<h1 class="text-center">Наши достижения</h1>
<section id="portfolio" class="portfolio-area style-two bg-gray overflow-hidden ptb_100">

    <div class="row justify-content-center">
        @foreach (var item in Model.Item1)
        {
            <div class="col-12 col-sm-6 col-lg-4 p-0">

                <!-- Single Case Studies -->
                <div class="single-case-studies mb-0">
                    <!-- Case Studies Thumb -->
                    <a href="#">
                        <img src="~/assets/img/news/@item.Photo" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="#" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <h3 class="text-white mb-3">@item.Title</h3>
                            <h6>@item.Date.ToShortDateString()</h6>
                            <p class="text-white">
                                @((item.Text.Length > 150)?item.Text.Substring(0, 150):item.Text)
                            </p>
                            <h5 class="text-right">@item.AuthorNavigation.LastName @item.AuthorNavigation.FirstName</h5>
                        </span>
                    </a>
                </div>
            </div>
        }

       


    </div>
    
</section>
<!-- ***** Portfolio Area End ***** -->
<!-- ***** Review Area Start ***** -->
<!--====== Call To Action Area End ======-->
