@model Tuple<List<News>, List<Member>>
@{
    ViewData["Title"] = "News";
}





        <!-- ***** Breadcrumb Area Start ***** -->
        <section class="section breadcrumb-area overlay-dark d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Breamcrumb Content -->
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Breadcrumb Area End ***** -->
<!-- ***** Portfolio Area Start ***** -->
        <h1 class="text-center">Новости</h1>
        <section id="portfolio" class="portfolio-area style-two bg-gray overflow-hidden ptb_100">
            
            <div class="row justify-content-center">
               @foreach (var item in Model.Item1)
               {
                   <div class="col-12 col-sm-6 col-lg-4 p-0">

                       <!-- Single Case Studies -->
                       <div class="single-case-studies mb-0">
                           <!-- Case Studies Thumb -->
                           <a href="#">
                               <img src="~/assets/img/news/@item.Photo" alt="">
                           </a>
                           <!-- Case Studies Overlay -->
                           <a asp-action="NewsSingle" asp-route-id="@item.Id" class="case-studies-overlay">
                               <!-- Overlay Text -->
                               <span class="overlay-text text-center p-3">
                                   <h3 class="text-white mb-3">@item.Title</h3>
                                   @item.DatePublication.ToShortDateString()
                               <p class="text-white">
                                   @item.AuthorNavigation.LastName @item.AuthorNavigation.FirstName
                               </p>
                                   <p class="text-white">
                                       @((item.Text.Length > 150)?item.Text.Substring(0, 100)+"...":item.Text)
                                       </p>
                               </span>
                           </a>
                       </div>
                   </div>
               }

            </div>
            
        </section>
        <!-- ***** Portfolio Area End ***** -->
        <!-- ***** Review Area Start ***** -->
        
        <!--====== Call To Action Area End ======-->







